Library
Logs
obj
Packages
*.csproj
*.sln
.vs
AssetBundles
Temp
Assets/StreamingAssets/AssetBundles
Assets/StreamingAssets/AssetBundles.meta
Assets/StreamingAssets/RockVR
Assets/BuildReports
Assets/Plugins/DevConsole
Assets/Plugins/BluConsole
Assets/Plugins/DevConsole.meta
Assets/Plugins/BluConsole.meta


.vscode

**.keystore
**Thumbs.db
**Thumbs.db.meta
Builds/
